#ext-hover-box{
	/*opacity: 100%;*/
	padding: 0 8px 10px 10px;
	position:absolute;
	border:solid;
	border-width:1px;
	border-color:#888;
	border-radius: 10px;
	box-shadow: 3px 3px rgba(122, 122, 122, 0.6);
	display:none;
	width:300px;
	background:#fff;
	color:#000;
	z-index:99999;
	overflow:hidden;
	top: 100px;
	left: 100px;
}
#searchResultsBox {
	padding: 0 8px 10px 10px;
	position:absolute;
	border:solid;
	border-width:1px;
	border-color:#888;
	border-radius: 10px;
	box-shadow: 3px 3px rgba(122, 122, 122, 0.6);
	display:none;
	/*width:200px;*/
	max-width: 300px;
	background:#fff;
	color:#000;
	z-index:999999;
	overflow:hidden;
}

#searchResultsBox a{
	word-break : break-all;
}

#searchResultsBox ul{
	padding: 10px 10px;
}

#searchResultsBox li{
	list-style-type: none;
}

#ext-hover-box input[type="text"]{
	width : 63%;
}
.ext_tag{
	background: #ffffbc;
	cursor: pointer;
}

#secondlevel, #tag, .childtag {
	margin: 2px 2px 2px 2px;
	padding: 3px 3px 3px 3px;
	border: solid;
	border-width: 1px;	
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
  stroke-opacity: .4;
  pointer-events: none;
}

.node:hover {
    fill: #1f77b4; blue
    /*fill: #A3FF75;*/
}


.link.source, .link.target {
	stroke-opacity: 1;
	stroke-width: 2px;
}

.node.target {
	fill: #d62728 !important;
}

.link.source {
	stroke: #d62728;
}

.node.source {
/*    fill: #2ca02c; green*/
	fill: #1f77b4;
}

.link.target {
/*    stroke: #2ca02c; green*/
	stroke: #1f77b4;
}
